{
  "presets": ["next/babel"],
  "plugins": [
    ["inline-react-svg", { 
      "svgo": {
        "plugins": [
          {
            "removeAttrs": { "attrs": "(data-name)" }
          },
          {
            "cleanupIDs": true
          }
        ]
      }
    }],
    ["styled-components", { "ssr": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", {"loose": true}],
    ["@babel/plugin-proposal-private-methods", { "loose": true }]
  ]
}
